
div {
    width: 200px;
    height: 200px;
    background:darkblue;
    margin: 50px;
    display: inline-block;
    transition: transform 0.5s;
}
div{
    text-align: center;
}
div:hover {
transform: rotate(45deg);
}
